div.navbar {
  background-color: white;
}
ul.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
}


li#menu {
float: left;
padding: 16px 20px;
background-color: white;
}

li#menu a {
display: block;
padding: 10px;
text-align: center;
text-decoration: none;
letter-spacing: 2px;
margin: 7px 7px -10px 30px;
color: black;
border-width: thin;
border-color: white;
border-style: solid;
-webkit-transition: border-color 1s;
}


li#menu a:hover {
border-color: black;
}

body {
  color: black;
  margin: 0px;
}

div#home {
  min-height: 90vh;
  max-height: 90vh;
  width: 98.7vw;
  background-image: url(images/christmaslights.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  padding-top: 30vh;
}

h1 {
text-align: right;
font-size: 2.5em;
font-family: sans-serif;
font-weight: bold;
letter-spacing: 1px;
color: white;
margin-right: 40px;
}

div#who-we-are {
  min-height: 100vh;
  max-height: 100vh;
  width: 98.7vw;
  background-color: black;
  color: white;
  padding-top: 20vh;
}

div#experiences  {
  min-height: 100vh;
  max-height: 100vh;
  width: 98.7vw;
  padding-top: 20vh;
}

.London {
  min-height: 50vh;
  max-height: 50vh;
  width: 50vw;
  background-image: url(images/LondonEye.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.Bath {
  min-height: 50vh;
  max-height: 50vh;
  width: 50vw;
  background-image: url(images/BathAbbey.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.L-text {
  width: 50vw;
  height: 50vh;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  transform: translateY(330px);
  transition: all 0.2s;
}

.B-text {
  width: 50vw;
  height: 50vh;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  transform: translateY(330px);
  transition: all 0.2s;
  \
}

.London:hover .L-text {
  transform: translateY(0px);

}

.Bath:hover .B-text {
  transform: translateY(0px);

}


}

h2#Cities {
  margin: 0px;
}

a#citylink {
  text-decoration: none;
}


div#contact {
  background-color: black;
  color: white;
  min-height: 100vh;
  max-height: 100vh;
  width: 98.7vw;
  padding-top: 30vh;
  box-align: center;
}

ol#social {
  list-style: none;
  padding: 0;
  font-size: 3em;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin: 0 20px;
}

li#icon {
  margin: 0 20px;
}
;

.bathimage {
  min-height: 50vh;
  max-height: 50vh;
  width: 50vw;
}