ul.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


li#menu {
float: left;
padding: 16px 20px;
}

li#menu a {
display: block;
padding: 10px;
text-align: center;
text-decoration: none;
letter-spacing: 2px;
margin: 7px 7px -10px 30px;
color: black;
border-width: thin;
border-color: white;
border-style: solid;
-webkit-transition: border-color 1s;
}


li#menu a:hover {
border-color: black;
}

body {
  color: black;
  margin: 0px;
}

div#home {
  min-height: 90vh;
  max-height: 90vh;
  width: 98.7vw;
  background-image: url(images/christmaslights.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
}

h1 {
text-align: right;
font-size: 2.5em;
font-family: sans-serif;
font-weight: bold;
letter-spacing: 1px;
color: white;
margin-right: 40px;
}

.London {
  width: 300px;
  height: 200px;
  background: black;
  overflow: hidden;
}

.Bath {
  width: 300px;
  height: 200px;
  background: blue;
  overflow: hidden;
}

.L-text {
  width: 300px;
  height: 200px;
  background-color: white;
  opacity: 50%;
  transform: translateY(100px);
  transition: all 0.2s;
}

.B-text {
  width: 300px;
  height: 200px;
  background-color: white;
  opacity: 50%;
  transform: translateY(100px);
  transition: all 0.2s;
}

.London:hover .L-text {
  transform: translateY(0px);

}

.Bath:hover .B-text {
  transform: translateY(0px);

}

ol#social {
  list-style: none;
  padding: 0;
  font-size: 3em;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin: 0 20px;
}
li#icon {
  margin: 0 20px;
}
